appdirs==1.4.0
boto3==1.9.28
botocore==1.12.28
Django==1.11.16
django-cleanup==0.4.2
django-stdimage==2.4.1
django-storages==1.5.2
docutils==0.13.1
futures==3.0.5
gunicorn==19.9.0
jmespath==0.9.1
oauthlib==2.1.0
olefile==0.44
packaging==16.8
Pillow==5.3.0
progressbar2==3.12.0
psycopg2-binary==2.7.5
PyJWT==1.4.2
pyparsing==2.1.10
python-dateutil==2.6.0
python-openid==2.2.5
python-utils==2.0.1
pytz==2018.5
requests==2.13.0
requests-oauthlib==0.7.0
s3transfer==0.1.10
six==1.10.0
social-auth-app-django==2.1.0
social-auth-core==1.7.0
urllib3==1.23
whitenoise==3.3.0
