h1 {
	font-size: 18px;
	font-weight: lighter;
	color: $purple;
	margin: $pad-l;
}

hr {
	margin: $pad-l;
	color: $midgray;
}


form {
	div {
		margin: $pad-l;

		* {
			display: inline-block;
		}

		label {
			width: 180px;
			color: $text;
			vertical-align: top;
		}

		input, select, textarea {
			width: 180px;
		}

		&.clear {
			margin: -$pad-l 0;
			width: 180px;
		}

		&.clear:after {
			content: "";
			display: table;
			clear: both;
		}
	}
}

.rcol {
	margin: $pad-l;
	color: $midgray;
	font-weight: lighter;
}

@media (min-width: 430px) {
	form {
		div {
			width: 376px;


			label {
				text-align: right;
			}

			input, select, textarea {
				width: 180px;
				float: right;
			}
		}
	}
}

@media (min-width: 800px) {
	.rcol {
		float: right;
		width: 40%;
	}
}
