<html>
  <head>
    <title>Login - Fincom</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load staticfiles %}
    <link href="{% static "css/site.css" %}" rel="stylesheet">
    <link rel="icon" href="{% static "favicon.32.png" %}" sizes="32x32" type="image/png">
    <link rel="icon" href="{% static "favicon.64.png" %}" sizes="64x64" type="image/png">
  </head>
  <body class="login">
    <div>
      <h3>Delta Beta Chapter</h3>
      <h2>Fincom Webapp</h2>
      <a class="btn btn-info"
         href="/login/google-oauth2/?next={{ next }}">
        Login with your AndrewID
      </a>
      {% if error %}
      <p>{{ error }}</p>
      {% endif %}
    </div>
  </body>
</html>

