<html>
  <head>
    <title>{% block title %}Fincom Webapp{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load staticfiles %}
    <link href="{% static "css/site.css" %}" rel="stylesheet" />
    <link rel="icon" href="{% static "favicon.32.png" %}" sizes="32x32" type="image/png">
    <link rel="icon" href="{% static "favicon.64.png" %}" sizes="64x64" type="image/png">
  </head>
  <body>
    <div class="nav">
      <a href="/logout">logout</a>
      {% if fincom %}
      <a href="/committees">manage</a>
      {% endif %}
      <h3>The Aaron Gutierrez, '17, Fincom Web App</h3>
    </div>
    <div class="container">
      {% block main %}
      {% endblock %}
    </div>
      {% block bottom %}
      {% endblock %}
  </body>
</html>
