{% extends "../boilerplate.html" %}

{% block main %}

{% if error %}
<div>
  <span class="error">{{ error }}</span>
</div>
{% endif %}

{% if preapproved %}
{% with items=preapproved pagination_key="C" name="Pre-Approved" %}
  {% include "./section.html" %}
{% endwith %}
{% endif %}

{% if newitems %}
{% with items=newitems pagination_key="N" name="New Items" %}
  {% include "./section.html" %}
{% endwith %}
{% endif %}

{% if processed %}
{% with items=processed pagination_key="P" name="Approved" %}
  {% include "./section.html" %}
{% endwith %}
{% endif %}

{% if rejected %}
{% with items=rejected pagination_key="R" name="Rejected" %}
  {% include "./section.html" %}
{% endwith %}
{% endif %}

{% with items=mine pagination_key="M" name="My Reimbursements" %}
  {% include "./section.html" %}
{% endwith %}

{% endblock %}

{% block bottom %}
  <a href="/items/new" title="Submit new item" class="btn-floating">
    <span>+</span>
  </a>
{% endblock %}
